<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".NPCBrainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="NPCBrain"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <service
            android:name=".ReplyTimerJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity
            android:name=".NpcManagerActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".CodexActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".DungeonRosterActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".DungeonActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".AiUsageActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".NpcStatusActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".LineImportActivity"
            android:exported="true"
            android:label="NPCBrain"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivityV032"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
